{{#languageName}}
Antworte ausschließlich auf {{{languageName}}}, unabhängig von der Originalsprache der Quelle.
Übersetze sinngemäß, nicht wörtlich.
{{/languageName}}
{{^languageName}}
Antworte auf Deutsch, sofern die Quelle nicht klar eine andere Sprache verlangt.
{{/languageName}}
