{{{kindInstruction}}}

- Länge: {{{words}}} ({{{detail}}})
{{#formatHint}}- Format-Hinweis: {{{formatHint}}}
{{/formatHint}}
{{#sourceWords}}- Umfang der Quelle: ca. {{{sourceWords}}} Wörter
{{/sourceWords}}
{{#title}}- Titel: {{{title}}}
{{/title}}{{#url}}- Quelle: {{{url}}}
{{/url}}
